@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 47% 18%;
    --foreground: 260 50% 95%;
    --card: 252 47% 22%;
    --card-foreground: 260 50% 95%;
    --popover: 252 47% 18%;
    --popover-foreground: 260 50% 95%;
    --primary: 279 65% 53%;
    --primary-foreground: 260 50% 95%;
    --secondary: 252 47% 25%;
    --secondary-foreground: 260 50% 95%;
    --muted: 252 47% 25%;
    --muted-foreground: 260 20% 70%;
    --accent: 260 83% 84%;
    --accent-foreground: 252 47% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 252 47% 30%;
    --input: 252 47% 30%;
    --ring: 279 65% 53%;
    --radius: 0.8rem;
    --chart-1: 279 65% 53%;
    --chart-2: 260 83% 84%;
    --chart-3: 252 47% 40%;
    --chart-4: 279 65% 70%;
    --chart-5: 260 83% 90%;
  }

  .light {
    --background: 260 100% 99%;
    --foreground: 252 47% 18%;
    --card: 260 100% 100%;
    --card-foreground: 252 47% 18%;
    --popover: 260 100% 100%;
    --popover-foreground: 252 47% 18%;
    --primary: 279 65% 53%;
    --primary-foreground: 260 50% 98%;
    --secondary: 260 50% 95%;
    --secondary-foreground: 252 47% 18%;
    --muted: 260 50% 95%;
    --muted-foreground: 252 20% 40%;
    --accent: 260 83% 84%;
    --accent-foreground: 252 47% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 20% 90%;
    --input: 260 20% 90%;
    --ring: 279 65% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
